@import "reset.css";
@import "left-section.css";
@import "right-section.css";
@import "rwd/responsive.css";
body {
    font-family: sans-serif;
    background: #4cb6c6;
    background: -moz-linear-gradient(-45deg, #4cb6c6 0%, #d6dae1 100%);
    background: -webkit-linear-gradient(-45deg, #4cb6c6 0%, #d6dae1 100%);
    background: linear-gradient(135deg, #4cb6c6 0%, #d6dae1 100%);
    background-repeat: no-repeat;
    max-width: 1348px;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 6%;
}
